body
  padding: 50px
  font-family: system-ui
  background-color: var(--1)

video
  position: fixed
  right: 0
  bottom: 0
  width: 100%
  min-width: 100%
  min-height: 100%

h1
  color: var(--5)
  text-align: center

img
  display: block
  margin: 0 auto
